.hide {
    display: none;
}

@media screen and (max-width:576px) {

    .contact-container section,
    .do-container ul,
    .about-sec ul,
    .banner,
    header nav {
        flex-direction: column;
    }
    section{
        width: 85%;
    }

    .contact-container div,
    .resume-container {
        width: 100%;
        padding: 50px 0;
    }

    .contact-container h3 {
        margin-bottom: 20px;
    }

    .resume-container {
        flex-direction: column;
    }

    .resume-container div, .menu
     {
        width: 100%;
    }

    .experience ,.edu{
        margin-top: 40px;
        /* width: 100%; */
    }

    .do-container ul li {
        margin: 15px 0 0 0;
    }

    .do-container>p {
        padding: 25px;
    }

    .common-mt {
        margin-top: 50px;
    }

    .about-sec {
        padding: 40px;
    }

    header nav .menu ul,
    .about-sec p {
        margin-top: 10px;
    }

  
    header {
        background-image: none;
    }

    .banner .text-container {
        width: 80%;
        margin-left: 0;
    }

    .hardypic {
        width: 100%;
        height: 100%;
    }

    .contactbtn {
        margin-left: 5px;
    }

    header nav {
        padding: 0px 0 20px 0;
    }

    header nav .menu ul {
        justify-content: space-around;
    }

    header nav .menu ul li {
        margin: 0;

    }
}

@media screen and (min-width: 576px) and (max-width:992px) {
    .banner, .do-container ul{
        flex-direction: column;
    }
    .banner .text-container {
        width: 70%;
        margin-left: 0;
    }
    .contactbtn {
        margin-left: 5px;
    }
    .hardypic {
        width: auto;
        /* height: 100%; */
    }
    header nav .menu ul {
        justify-content: end;
    }
    .do-container ul{
        gap: 10px;
        
    }
    .do-container ul li{
        margin-left: 0;
        width: calc((100% -10)/2);
    }
    .about-sec {
        padding: 40px;
    }
    .about-sec ul {
        flex-wrap: wrap;
    }
    .about-sec ul li {
        width: 48%;
    }
    header {
        background-image: none;
    }

}