* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.primebtn {
    border: 0px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 15px 20px;
    background: #FD6E0A;
    border-radius: 5px;
}

section {
    width: 70%;
    margin: 0 auto;
}

.prime-para {
    font-size: 14px;
    line-height: 25px;
    margin-top: 20px;
    color: #757575;
    /* text-align: center; */
}

.common-mt {
    margin-top: 110px;
}

.common-h3 {
    font-size: 33px;
    text-align: center;
}

.common-h5 {
    font-size: 14px;
    margin-top: 10px;
}

/* nav section */

header {
    background-color: #FFF8F3;
    background-image: url('./images/developer.png');
    background-repeat: no-repeat;
    background-size: contain;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

header nav .logo h1 {
    font-size: 45px;
    font-weight: 800;
}

header nav .logo span {
    color: #FD6E0A;
}

header nav .menu ul {
    display: flex;
    align-items: center;
}

header nav .menu ul li {
    list-style: none;
    margin-left: 51px;
}

header nav .menu ul li a {
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
    color: #474747;
}

/* banner section */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('./images/header_bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;

}

.banner .text-container {
    width: 31%;
    margin-left: 195px;
}

.banner .text-container h3 {
    font-size: 30px;
    font-weight: 400;
}

.banner .text-container h1 {
    font-size: 55px;
}
.banner .text-container button {
    margin-top: 30px;
}

.banner img {
    margin-right: 38px;
}

.contactbtn {
    border: 0px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 20px;
    border-radius: 5px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    background-color: white;
    margin-left: 30px;
}

/* about us section */

.about-sec {
    background-color: #FFF8F3;
    padding: 90px 126px;
    text-align: center;
}

.about-sec p {
    margin-top: 30px;
}

.about-sec ul {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.about-sec ul li {
    list-style: none;
}

/* Do section */

.do-container>p {
    padding: 0 140px;
    text-align: center;
}

.do-container ul {
    display: flex;
    margin-top: 50px;
    justify-content: flex-start;
}

.do-container ul li h5 {
    margin-top: 10px;
}

.do-container ul li p {
    text-align: start;
}

.do-container ul li {
    margin-left: 25px;
    padding: 30px;
    list-style: none;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.do-container ul li:first-child{
    margin-left: 0;
}
/* Resume section */

.resume-container{
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}
.resume-container div{
    width: 48%;
}

.resume-container li{
    list-style: none;
    width: 86%;
}
.resume-container li h5{
    margin-top: 30px;
}
.resume-container li .firstpara{
    margin-top: 6px;
    font-weight: 600;
}
hr{
    margin: 30px 0;
}

