* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.primebtn{
    border: 0px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 18px 36px;
    background: #FD6E0A;
    border-radius: 5px;

}
.fix-width{
    width: 75%;
    margin: 0 auto;
}

/* nav section */

header{
    background-color: #FFF8F3;
    background-image: url('./images/developer.png');
    background-repeat: no-repeat;
    background-size: contain;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
}
header nav .logo h1{
    font-size: 50px;
    font-weight: 800;
}
header nav .logo span{
    color: #FD6E0A;
}
header nav .menu ul{
    display: flex;
    align-items: center;
}
header nav .menu ul li{
    list-style: none;
    margin-left: 51px;
}
header nav .menu ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: #474747;
}

/* banner section */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('./images/header_bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;

}
.banner .text-container{
    width: 35%;
    margin-left: 215px;
}
.banner .text-container h3{
    font-size: 40px;
    font-weight: 400;
}
.banner .text-container h1{
    font-size: 70px;
}
.banner .text-container p{
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
    color: #757575;
}
.banner .text-container button{
    margin-top: 30px;
}
.banner img{
    margin-right: 38px;
}
.contactbtn{
    border: 0px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    padding: 18px 36px;
    border-radius: 5px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    background-color: white;
    margin-left: 30px;
}